In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statistics as stats
from sklearn import preprocessing
import plotly.express as px
from string import ascii_letters

In [2]:
df =  pd.read_csv('../data/train.csv')

In [3]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [6]:
# create function to drop any rows with nulls values for features where the number of null values is <3% of the total rows in our data
def drop_nas(df):
    for feature in df.columns:
        null_sum = df[feature].isnull().sum()
        if null_sum < len(df) * .03 and null_sum != 0:
            df.dropna(subset = [feature], inplace = True)
    return df

# create function to encode object values using label_encoder
# leave null values for now until we impute their values
def column_encoder(data):
    # initiate and define label_encoder
    label_encoder = preprocessing.LabelEncoder()
    # user label_encoder on features of interest
    data['Gender'].loc[data['Gender'].notnull()] = label_encoder.fit_transform(data['Gender'].loc[data['Gender'].notnull()])
    data['Married'].loc[data['Married'].notnull()] = label_encoder.fit_transform(data['Married'].loc[data['Married'].notnull()])
    data['Dependents'].loc[data['Dependents'].notnull()] = label_encoder.fit_transform(data['Dependents'].loc[data['Dependents'].notnull()])
    data['Education'].loc[data['Education'].notnull()] = label_encoder.fit_transform(data['Education'].loc[data['Education'].notnull()])   
    data['Self_Employed'].loc[data['Self_Employed'].notnull()] = label_encoder.fit_transform(data['Self_Employed'].loc[data['Self_Employed'].notnull()])
    data['Property_Area'].loc[data['Property_Area'].notnull()] = label_encoder.fit_transform(data['Property_Area'].loc[data['Property_Area'].notnull()])
    data['Loan_Status'].loc[data['Loan_Status'].notnull()] = label_encoder.fit_transform(data['Loan_Status'].loc[data['Loan_Status'].notnull()])
    return data

# create column denoting if there is a coapplicant through values 0 = N and 1 = Y
def coapplicant(data,column):         
    Coapplicant = []
    for i in data[column]:
        if i == 0:
            Coapplicant.append(0)
        else:
            Coapplicant.append(1)
    data['Coapplicant'] = Coapplicant
    return data

# create function to clean data to match process from train.csv EDA
# this function assumes we have checked that the test data has the same columns as our train
def clean_test(df):
    test_clean_df = df.copy()
    test_clean_df.drop(columns=['Loan_ID'], inplace=True)
    
    # call drop_nas
    drop_nas(test_clean_df)
    
    # call column_encoder
    column_encoder(test_clean_df)
    
    # dtypes are still objects from column_encoder, change to int
    columns = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']
    test_clean_df[columns] = test_clean_df[columns].apply(pd.to_numeric, errors='coerce')
    
    # impute Self_Employed nulls to mode if applicable
    self_employed_mode = test_clean_df['Self_Employed'].mode()
    test_clean_df['Self_Employed'].fillna(value=self_employed_mode.values[0],inplace=True)
    
    # impute Credit_History nulls to mode if applicable
    credit_history_mode = test_clean_df['Credit_History'].mode()
    test_clean_df['Credit_History'].fillna(value=credit_history_mode.values[0],inplace=True)
    
    # impute LoanAmount nulls to median if applicable
    loan_amount_median = test_clean_df['LoanAmount'].median()
    test_clean_df['LoanAmount'].fillna(value=loan_amount_median,inplace=True)
    
    # rename loan term column to include it's measurement - months
    test_clean_df.rename(columns = {'Loan_Amount_Term':'Loan_Amount_Term_Months'}, inplace = True)
    
    # new variable for applicant total income / loan amount
    # create new value for applicant income to loan amount
    test_clean_df['Applicant_Income(total yearly)_to_Loan_Amount(total)'] = (((test_clean_df['ApplicantIncome']*12) + (test_clean_df['CoapplicantIncome']*12)) / (test_clean_df['LoanAmount']*1000))
    
    # call coapplicant
    coapplicant(test_clean_df,'CoapplicantIncome')
    
    # remove unecessary columns that are now represented in the two columns we just created
    # drop ApplicantIncome_Monthly and LoanAmount_Thousands from df
    test_clean_df.drop(columns = ['ApplicantIncome','CoapplicantIncome','LoanAmount'],inplace = True)
    
    # other cleaning outside of EDA notebook activity to ensure values are valid
    # check that Gender, Married, Education, Self Employed values are 0 or 1
    columns = ['Gender','Married','Education','Self_Employed']
    for feature in columns:
        for i in test_clean_df[feature]:
            test_clean_df.drop(test_clean_df.loc[(test_clean_df[feature] < 0) | (test_clean_df[feature] > 1)].index, inplace=True)
     
    # drop values for Dependents outside of 0-3
    test_clean_df.drop(test_clean_df.loc[(test_clean_df['Dependents'] < 0) | (test_clean_df['Dependents'] > 3)].index, inplace=True)
    
    # drop values for Property_Area outside 0-2
    test_clean_df.drop(test_clean_df.loc[(test_clean_df['Property_Area'] < 0) | (test_clean_df['Property_Area'] > 2)].index, inplace=True)
    
    # drop Loan_Amount_Term < 0 and > 480 (40 years)
    test_clean_df.drop(test_clean_df.loc[(test_clean_df['Loan_Amount_Term_Months'] < 0) | (test_clean_df['Loan_Amount_Term_Months'] > 480)].index, inplace=True)
    
    # drop income / loan amount ratio < 0
    test_clean_df.drop(test_clean_df.loc[test_clean_df['Applicant_Income(total yearly)_to_Loan_Amount(total)'] < 0].index, inplace=True)
    
    return test_clean_df

In [7]:
df_clean = clean_test(df)

C:\Users\asliw\AppData\Local\Temp\ipykernel_13224\550200185.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Gender'].loc[data['Gender'].notnull()] = label_encoder.fit_transform(data['Gender'].loc[data['Gender'].notnull()])
C:\Users\asliw\AppData\Local\Temp\ipykernel_13224\550200185.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Married'].loc[data['Married'].notnull()] = label_encoder.fit_transform(data['Married'].loc[data['Married'].notnull()])
C:\Users\asliw\AppData\Local\Temp\ipykernel_13224\550200185.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Dependents'].loc[data['Dependents'].notnull()] = label_encoder.fit_transform(data['Dependents'].loc[data['Dependents'].notnull()])
C:\Users\asliw\AppData\Local\Temp\ipykernel_13224\550200185.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Education'].loc[data['Education'].notnull()] = label_encoder.fit_transform(data['Education'].loc[data['Education'].notnull()])
C:\Users\asliw\AppData\Local\Temp\ipykernel_13224\550200185.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Self_Employed'].loc[data['Self_Employed'].notnull()] = label_encoder.fit_transform(data['Self_Employed'].loc[data['Self_Employed'].notnull()])
C:\Users\asliw\AppData\Local\Temp\ipykernel_13224\550200185.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Property_Area'].loc[data['Property_Area'].notnull()] = label_encoder.fit_transform(data['Property_Area'].loc[data['Property_Area'].notnull()])
C:\Users\asliw\AppData\Local\Temp\ipykernel_13224\550200185.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Loan_Status'].loc[data['Loan_Status'].notnull()] = label_encoder.fit_transform(data['Loan_Status'].loc[data['Loan_Status'].notnull()])

AttributeError: 'float' object has no attribute 'values'

In [ ]:
df.isnull().sum()

In [ ]:
# print(df.info())
# self_employed_mode = df['Self_Employed'].mode()
# print(self_employed_mode.values[0])
# test_df = df.copy()
# print(test_df.info())
# print(self_employed_mode)
# # df['Self_Employed'].fillna(self_employed_mode, inplace=True)
# # test_df[['Self_Employed']] = test_df[['Self_Employed']].fillna(value=self_employed_mode.values[0])
# test_df['Self_Employed'].fillna(value=self_employed_mode.values[0],inplace=True)
# print(df.info())
# print(test_df.info())